
h2{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    /* background-color:#ccc; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

/* Form container */
form {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    max-width: 90%;
    transition: all 0.3s ease-in-out;
}

form:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Form elements */
form div {
    margin-bottom: 20px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #333;
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
    transition: border 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #71b7e6;
    outline: none;
}

button[type="submit"] {
    background-color: rgb(58, 50, 50);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-right: 70px;
    padding-left: 30px;
    /* display: inline; */
}

button[type="submit"]:hover {
    background-color: rgb(154, 116, 116);
}
